<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rubypaper.board.persistence.JoinDao">

<select id="join1"  parameterType="com.rubypaper.board.domain.JoinVo"
                          resultType="com.rubypaper.board.domain.JoinVo" >
 <![CDATA[
   select  *  from member1026 m join board1026 b
   on m.id = b.writer where 1=1]]>
   <if test="ch1 != null and ch1 == 'title'">
    and title like '%'||#{ch2}||'%'
	</if>
	<if test="ch1 != null and ch1 == 'name'">
    and name like '%'||#{ch2}||'%'
	</if> <![CDATA[
	order by seq desc
 ]]>
</select>

<select id="join2"  parameterType="com.rubypaper.board.domain.JoinVo"
                          resultType="com.rubypaper.board.domain.JoinVo" >
 <![CDATA[
   select  *  from member1026 m join board1026 b
   on m.id = b.writer where id=#{id}
 ]]>
</select>

<select id="join3"  parameterType="com.rubypaper.board.domain.JoinVo"
                          resultType="com.rubypaper.board.domain.JoinVo" >
 <![CDATA[
   select  *  from member1026 m join board1026 b
   on m.id = b.writer where seq=#{seq}
 ]]>
</select>


</mapper>